<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puzzlegame">
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/racoon1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Help" />
        <activity android:name=".ui.halloffame.HallOfFameActivity" />
        <activity android:name=".ui.winscreen.WinScreenActivity" />
        <activity android:name=".ui.selectLevel.SelectLevelActivity" />
        <activity android:name=".ui.selectGame.SelectGameActivity" />
        <activity android:name=".ui.common.BaseActivity" />
        <activity android:name=".ui.game.PuzzleGameActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.gallery.GalleryActivity" />
    </application>

</manifest>